@using ScoreUI.Models.Consts
@using ScoreUI.Models.Entities
@using ScoreUI.Services.Interfaces
@attribute [Route(Urls.Tournaments.Create)]

@inject ITournamentService _tournamentService
@inject NavigationManager _nav

<div class="d-flex justify-center">
	<MudPaper Style="width: 100%; max-width: 800px;">
		<div class="gray lighten-3 pa-3">
			<MudText Typo="Typo.h5" Align="Align.Center">
				Kreator turnieju
			</MudText>
			<MudStack Row Class="ma-3">
				<MudButton
					FullWidth
					StartIcon="@Icons.Material.Filled.ChevronLeft"
					Disabled="_currentPage == _pages.First()"
					OnClick="() => _currentPage = _pages[_pages.IndexOf(_currentPage) - 1]">
					Poprzednia
				</MudButton>
				<MudButton
					FullWidth
					EndIcon="@Icons.Material.Filled.ChevronRight"
					Disabled="_currentPage == _pages.Last() || _currentPage.Validator()"
					OnClick="() => _currentPage = _pages[_pages.IndexOf(_currentPage) + 1]">
					Następna
				</MudButton>
			</MudStack>
		</div>
		<div class="pa-3">
			@switch (_currentPage.Value)
			{
				case CreatorPage.Info:

					<MudTextField
						@bind-Value="_tournament.Name"
						Label="Nazwa turnieju"
						Variant="Variant.Outlined"
						Class="my-3"
						Required
						RequiredError="Nazwa turnieju jest wymagana"
						Immediate />

					<MudTextField
						@bind-Value="_tournament.ShortName"
						Label="Krótka nazwa turnieju"
						Variant="Variant.Outlined"
						Class="my-3" />

					break;

				case CreatorPage.MatchTypes:

					<MudText>
						Dozwolone typy meczy
					</MudText>

					<MudCheckBox
						T="bool"
						Class="mt-3"
						@bind-Value="@_tournament.Settings.SimpleMatch.IsEnabled"
						Label="Mecz prosty" />
					<MudText Typo="Typo.body2">
						Mecz prosty, punktowany pojedynczo dla każdego uczestnika
					</MudText>

					<MudCheckBox
						T="bool"
						Class="mt-3"
						@bind-Value="@_tournament.Settings.DualPointsMatch.IsEnabled"
						Label="Mecz podwójnie punktowany" />
					<MudText Typo="Typo.body2">
						Mecz punktowany na punkty główne i podrzędne
					</MudText>

					<MudCheckBox
						T="bool"
						Class="mt-3"
						@bind-Value="@_tournament.Settings.MultiDuelMatch.IsEnabled"
						Label="Mecz wielopojedynkowy" />
					<MudText Typo="Typo.body2">
						Mecz składający się z wielu prostych pojedynków
					</MudText>

					break;
					
				case CreatorPage.MatchSettings:

					if (_tournament.Settings.SimpleMatch.IsEnabled)
					{
						<div class="gray lighten-5 pa-3 my-3 rounded">
							<MudText>
								Ustawienia <strong>Meczu prostego</strong>
							</MudText>
							<MudCheckBox @bind-Value="_tournament.Settings.SimpleMatch.IsTimed" Label="Mierzyć czas?" />
							@if (_tournament.Settings.SimpleMatch.IsTimed)
							{
								<MudTimePicker @bind-Time="_tournament.Settings.SimpleMatch.MaxTime" Label="Maksymalna długość rozgrywki" Class="ml-4" Variant="Variant.Outlined" />
								<MudCheckBox @bind-Value="_tournament.Settings.SimpleMatch.OvertimeAllowed" Label="Pozwalać na przekroczenie czasu?" />
								<MudCheckBox @bind-Value="_tournament.Settings.SimpleMatch.CountTimerDown" Label="Odliczać czas w dół?" />
							}
						</div>
					}
					
					if (_tournament.Settings.DualPointsMatch.IsEnabled)
					{
						<div class="gray lighten-5 pa-3 my-3 rounded">
							<MudText>
								Ustawienia <strong>Meczu podwójnie punktowanego</strong>
							</MudText>
							<MudCheckBox @bind-Value="_tournament.Settings.DualPointsMatch.IsTimed" Label="Mierzyć czas?" />
							@if (_tournament.Settings.DualPointsMatch.IsTimed)
							{
								<MudTimePicker @bind-Time="_tournament.Settings.DualPointsMatch.MaxTime" Label="Maksymalna długość rozgrywki" Class="ml-4" Variant="Variant.Outlined" />
								<MudCheckBox @bind-Value="_tournament.Settings.DualPointsMatch.OvertimeAllowed" Label="Pozwalać na przekroczenie czasu?" />
								<MudCheckBox @bind-Value="_tournament.Settings.DualPointsMatch.CountTimerDown" Label="Odliczać czas w dół?" />
							}
							<MudTextField @bind-Value="_tournament.Settings.DualPointsMatch.ScoreAName" Label="Nazwa punktów głównych" Class="ml-4" Variant="Variant.Outlined" />
							<MudTextField @bind-Value="_tournament.Settings.DualPointsMatch.ScoreBName" Label="Nazwa punktów podrzędnych" Class="ml-4" Variant="Variant.Outlined" />
						</div>
					}
					
					if (_tournament.Settings.MultiDuelMatch.IsEnabled)
					{
						<div class="gray lighten-5 pa-3 my-3 rounded">
							<MudText>
								Ustawienia <strong>Meczu wielopojedynkowego</strong>
							</MudText>
							<MudCheckBox @bind-Value="_tournament.Settings.MultiDuelMatch.IsTimed" Label="Mierzyć czas?" />
							@if (_tournament.Settings.MultiDuelMatch.IsTimed)
							{
								<MudTimePicker @bind-Time="_tournament.Settings.MultiDuelMatch.MaxTime" Label="Maksymalna długość rozgrywki" Class="ml-4" Variant="Variant.Outlined" />
								<MudCheckBox @bind-Value="_tournament.Settings.MultiDuelMatch.OvertimeAllowed" Label="Pozwalać na przekroczenie czasu?" />
								<MudCheckBox @bind-Value="_tournament.Settings.MultiDuelMatch.CountTimerDown" Label="Odliczać czas w dół?" />
								<MudCheckBox @bind-Value="_tournament.Settings.MultiDuelMatch.ResetTimeOnNewMatch" Label="Resetować czas podczas zmiany pojedynku?" />
							}
							<MudNumericField @bind-Value="_tournament.Settings.MultiDuelMatch.MinDuels" Min="1" Max="99" Label="Minimalna ilość pojedynków" Class="ml-4" Variant="Variant.Outlined" />
							<MudNumericField @bind-Value="_tournament.Settings.MultiDuelMatch.MaxDuels" Min="1" Max="99" Label="Maksymalna ilość pojedynków" Class="ml-4" Variant="Variant.Outlined" />
						</div>
					}
					
					break;
					
				case CreatorPage.AccessOptions:
					
					<MudAlert Class="my-3" Severity="Severity.Info" Variant="Variant.Filled" Dense NoIcon>
						Ustaw alias turnieju, jeżeli chcesz chcesz móc szybko do niego wrócić
					</MudAlert>
					
					<TournamentAliasEditor @bind-Value="_tournament.Settings.Alias" />
					
					<MudAlert Class="my-3" Severity="Severity.Info" Variant="Variant.Filled" Dense NoIcon>
						Ustaw klucz dostępu do turnieju, jeżeli chcesz zabezpieczyć do niego dostęp
					</MudAlert>
					
					<MudTextField
						@bind-Value="_tournament.Settings.Key"
						Label="Klucz dostępu do turnieju"
						Variant="Variant.Outlined"
						Class="my-3" />

					break;
					
				case CreatorPage.Final:
					
					<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center" Class="mt-5">
						<MudIcon Icon="@Icons.Material.Filled.Check" />
						<MudText Color="Color.Success">
							<strong>Wszystko gotowe!</strong>
						</MudText>
					</MudStack>
					
					<MudText>
						Zaraz przeniesiemy Cię na stronę turnieju, gdzie będziesz mógł dodać uczestników i stworzyć mecze
					</MudText>
					
					<MudButton Color="Color.Success" Variant="Variant.Filled" FullWidth OnClick="Submit" Class="mt-10 mb-5">
						Zatwierdź
					</MudButton>
					
					break;
			}
		</div>
	</MudPaper>
</div>

@code {

	readonly Tournament _tournament = new()
	{
		Name = string.Empty
	};

	List<Page> _pages = [];
	Page _currentPage = default!;

	protected override void OnParametersSet()
	{
		_pages =
		[
			new(CreatorPage.Info, () => string.IsNullOrWhiteSpace(_tournament.Name)),
			new(CreatorPage.MatchTypes, () => (_tournament.Settings.SimpleMatch.IsEnabled | _tournament.Settings.DualPointsMatch.IsEnabled | _tournament.Settings.MultiDuelMatch.IsEnabled) == false),
			new(CreatorPage.MatchSettings, () => false),
			new(CreatorPage.AccessOptions, () => false),
			new(CreatorPage.Final, () => false)
		];
		_currentPage = _pages[0];
	}

	enum CreatorPage
	{
		Info,
		MatchTypes,
		MatchSettings,
		AccessOptions,
		Final
	}

	record Page(CreatorPage Value, Func<bool> Validator);

	async Task Submit()
	{
		await _tournamentService.Create(_tournament);
		_nav.NavigateTo(Urls.Tournaments.GetManageId(_tournament.Id));
	}

}